﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginModel = new LoginModel();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()


@if (!Members.GetCurrentLoginStatus().IsLoggedIn)
{
    //display form, then using the using statement it will open a connection to the database, the BeginUmbracoForm is a form. The form vil be fired then
    //the user click at the submit buttom. Its will fire a postRequest thought the action method called HandleFormSubmit. It is in the surface controller

   //This is a html helper, it will output a form at runtime....


    using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
    {
        <fieldset>
            <legend>Login</legend>

            @Html.ValidationSummary("loginModel", true)

            @Html.LabelFor(m => loginModel.Username)
            @Html.TextBoxFor(m => loginModel.Username)
            @Html.ValidationMessageFor(m => loginModel.Username)
            <br />

            @Html.LabelFor(m => loginModel.Password)
            @Html.PasswordFor(m => loginModel.Password)
            @Html.ValidationMessageFor(m => loginModel.Password)
            <br />

            <button>Login</button>
        </fieldset>
    }
}

else
{
    <p>You are currently logged in as @Members.GetCurrentLoginStatus().Name</p>


    <a href="/Members">Memberspage</a>



    var logoutModel = new PostRedirectModel();
    logoutModel.RedirectUrl = "/";
    using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
    {
        <button>Logout</button>
        @Html.HiddenFor(m => logoutModel.RedirectUrl)
    }
}
